In [1]:
import os
import argparse
from time import time
import pandas as pd
from sqlalchemy import create_engine

In [2]:
fileZone= './data/taxi+_zone_lookup.csv'
fileGreen= './data/green_tripdata_2019-09.csv.gz'

In [3]:
df_zone = pd.read_csv(fileZone)
df_green = pd.read_csv(fileGreen, nrows=100)

In [4]:
len(df_zone)

265

In [5]:

df_green

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.00,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.00,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.00,NaN,0.3,18.36,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-09-01 00:40:55,2019-09-01 00:48:35,N,1,95,160,1,2.24,9.0,0.5,0.5,0.00,0.00,NaN,0.3,10.30,2,1,0.0
96,2,2019-09-01 00:13:52,2019-09-01 00:21:47,N,1,75,151,1,2.04,8.5,0.5,0.5,1.96,0.00,NaN,0.3,11.76,1,1,0.0
97,2,2019-09-01 00:37:24,2019-09-01 01:02:31,N,1,41,182,1,7.77,26.0,0.5,0.5,5.46,0.00,NaN,0.3,32.76,1,1,0.0
98,2,2019-09-01 00:22:15,2019-09-01 00:29:52,N,1,74,260,1,4.99,15.0,0.5,0.5,2.58,6.12,NaN,0.3,25.00,1,1,0.0
99,2,2019-09-01 00:11:53,2019-09-01 00:30:31,N,1,255,228,1,7.54,22.0,0.5,0.5,0.00,0.00,NaN,0.3,23.30,2,1,0.0

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [7]:
# cree le schema qu'on verifit avec la commande 
# pgcli -h localhost -U root -d ny_taxi
# \dt dans pgcli liste les tables
df_zone.head(n=0).to_sql(name='taxi_zone', con=engine, if_exists='replace')

0

In [8]:
# uplod data to postgres
%time df_zone.to_sql(name='taxi_zone', con=engine, if_exists='append')

CPU times: user 12.3 ms, sys: 28 µs, total: 12.3 ms
Wall time: 18.3 ms

265

####  GREEN DATA TAXI

In [9]:
df_iter = pd.read_csv(fileGreen, iterator=True, chunksize=100000)

In [10]:
df = next(df_iter)
len(df)

100000

In [11]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [12]:
####  GREEN DATA TAXI 
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [13]:
# cree le schema qu'on verifit avec la commande 
# pgcli -h localhost -U root -d ny_taxi
# \dt dans pgcli liste les tables
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [14]:
# chargement des 100000
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 7.81 s, sys: 191 ms, total: 8 s
Wall time: 14.5 s

1000

In [15]:
while True: 
    t_start = time()
    try:
        df = next(df_iter)
    except StopIteration:
        print("Il n'y a plus de données à traiter.")
        break # sortir de la boucle while

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 14.736 second
inserted another chunk, took 14.490 second

/tmp/ipykernel_12709/1593920405.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 14.601 second
inserted another chunk, took 6.155 second
Il n'y a plus de données à traiter.